h1{
  text-align:center;  
  margin-bottom: 55px;
  font-family:'Montserrat', sans-serif;
  font-weight:800;
}
.wrapper{
    margin:0 30px;
}
.item1{
    font-family: 'Roboto',sans-serif;
    font-weight:700;
    color: #45338D;
    font-size:16px;
    margin-bottom:40px;
}
.item2{
    font-family: 'Roboto';
    font-weight:500;
    color:#E2296C;
    background-color:#CC3C3C52;
    margin-bottom:25px;
    padding: 15px;
}
#inner-text{
    color:#fff;
}
.photo1{
    margin-bottom:40px;
}
.photo2{
    border:2px solid #36B561;
    padding:15px;
}
.container{
    position:relative;
}
.text{
    font-family:"Roboto",sans-serif;
    font-weight:300;
    font-style: italic;
    position:absolute;
    top:0;
    text-align: justify;
    width: 300px;
    margin: 30px 0 0 15px;
}